.btn-black {
    background: rgb(66, 66, 66);
    color: white;
}


#name {
    font-family: "Amatic SC";
    font-weight: 700;
    font-size: 1.5em;
}

body {
    padding-top: 70px;
}

.navbar-inverse .navbar-brand {
    color: white;
}

#brand {
    /* font-family: "Shadows Into Light"; */
    /* font-family: "Abril Fatface"; */
    /* font-family: "Amatic SC"; */
    /* font-family: "Open Sans"; */
    font-family: "Aleo";
    /* font-weight: 700; */
    font-size: 1.1em;
}

.thumbnail {
    border: 0;
}

